 Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.o
*.*html
*.html
*.htm
*.pdf
*.jpg
*.gif
*.d
*.o
*.crf
*.bin
*.bak
*.axf
*.hex
*.map
*.dep
*/*STM324xG_EVAL/
Documentation/
DebugConfig/
Utilities/
EWARM/
iar/
RIDE/
TASKING/
TrueSTUDIO/
Project/Standalone/tcp_server/MDK-ARM/Project.uvguix.*
Project/Standalone/tcp_server/MDK-ARM/*.log
.VSCodeCounter/
Project/Standalone/tcp_server/MDK-ARM/*.BAT
*._2i
*.__i
*._ia
